body {
  background-color: #999999;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}

header {
  display: inline-grid;
  grid-column: span 12;
  grid-row: span 10;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  background-color: #BBBBDC;
  color: #FFFFFF;
  text-align: center;
  padding: 20px;
  font-size: 35px;
}

#navgrid {
  display: inline-grid;
  grid-template-columns: repeat(3, 5fr);
  grid-column-gap: 5px;
}

nav {
  grid-column: span 12;
  display: inline-grid;
  font-size: 30px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline-grid;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

#navformat1 {
  margin-left: 145px;
  margin-right: 265px;
}

#navformat2 {
  margin-right: 260px;
}

a {
  text-decoration: none;
  color: #4F4F4F;
}

main {
  grid-column: span 12;
}

#imglayout {
  grid-column: span 12;
}

.imgformat {
  padding-right: 42px;
}

footer {
  grid-column: span 12;
  text-align: left;
  color: #A5A5A5;
}
