/*Stylesheet for Assignment 3*/

a {
  color: #ff0000;
}

/*yellow on hover*/
a:hover {
  color: #ffff00;
}

/*green on visited*/
a:visited {
  color: #00ff00;
}

.highlight {
  color: #ffffff;
  background-color: #cc0000;
}

.info {
  color: #dd0000;
}

#contact {
  color: #777777;
  background-color: #eeeeee;
}

#footer {
  color:#777777;
}

h1 {
  color: #ffffff;
  background-color: #CE1126;
}

h2 {
  color: #CE1126;
}

p {
  color: #222222;
}
