/*Stylesheet for Assignment 5*/
body {
  font-family: Impact;
  background-color: #fbd335;
  color: #8800bb;
  font-size: 20px;
}

.toptext {
  width: 620px;
  border-bottom: 3px solid #8800bb;
  padding-bottom: 10px;
  letter-spacing: 3.5px;
  margin-bottom: 15px;
}

.bootsriley {
  font-size: 30px;
}

h1 {
  font-size: 110px;
  width: 620px;
  margin-top: -4px;
  margin-bottom: -4px;
}

.sorryyoustyle {
  color: #ff0000;
  text-align: center;
  line-height: 105px;
}

.tobotherstyle {
  color: #ff00ff;
  text-align: center;
}

.magentastyle{
  color: #ff00ff;
  font-size: 30px;
}

.redstyle{
  color: #ff0000;
  font-size: 30px;
}

.bottomtext {
  width: 620px;
  border-bottom: 3px solid #8800bb;
  padding-bottom: 10px;
  margin-top: -5px;
  word-spacing: 5px;
}

.centertext {
  text-align: center;
  width: 620px;
}

a {
  color: #ff00ff;
  text-decoration: none;
}

a:hover {
  color: #ff0000;
  text-decoration: underline;
}

.ratingblock {
  display: block;
  padding-top: 10px;
  margin-left: 210px;
}
